<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link href="/dougie/styles/css/app.css" rel="stylesheet">
    </head>
    <body>
        <header><h1>Hi, I'm Rudi</h1></header>
        
        <article>
            <h2>About Me</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolorem porro explicabo temporibus voluptas, reprehenderit quam, repudiandae placeat ab provident labore vero nemo enim. Magni alias praesentium debitis itaque molestias!
            </p>
        </article>
        
        <footer>
            <p>copyright 2016 rudi</p>
        </footer>
        
        <br>
        <a href="/">
            <div class="small-circle">go back</div>
        </a>
        
        <script src="/dougie/js/jquery.min.js"></script>
        <!--<script src="/dougie/js/popper.min.js"></script>-->
        <!--<script src="/dougie/js/bootstrap.min.js"></script>-->
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
  </body>
</html>


