<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Color Game</title>
	<link rel="stylesheet" type="text/css" href="/colorGame/css/colorGame.css">
</head>
<body>
<h1>GUESS THE COLOR!
	<br>
	<span id="colorDisplay">RGB</span>
	<br>
	which one is it?
</h1>
<div id="stripe">
	<button id="reset">New Colors</button>
	<span id="message"></span>
	<button class="mode">Easy</button>
	<button class="mode selected">Hard</button>
</div>
<div id="container">
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/colorGame/js/colorGame.js"></script>
</body>
</html>
