<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<title>Phaser Game - Platformer</title>
	<style>
	    body{
	        padding:0px;
	        margin:0px;
	        background:black;
	    }
	</style>
	<script type="text/javascript" src="/phaser/js/phaser.min.js"></script>
</head>
<body>
	<script type="text/javascript" src="/phaser/js/platformer/02bootState.js"></script>
	<script type="text/javascript" src="/phaser/js/platformer/03preloadState.js"></script>
	<!--<script type="text/javascript" src="/phaser/js/platformer/homeState.js"></script>-->
	<script type="text/javascript" src="/phaser/js/platformer/05gameState.js"></script>
	<script type="text/javascript" src="/phaser/js/platformer/01mainPlat.js"></script>
</body>
</html>
